#
# 
# Copyright (c) 2012-2015 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.1.0-SNAPSHOT
#
# Configuration properties for the Predix Machine http client service
#
# Service_PID = com.ge.dspmicro.httpClient
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.



#
# Maximum number of allowable open connections (Default=20)
#
com.ge.dspmicro.httpclient.connection.maxTotal=I"20"

#
# Maximum number of allowable open connections per route (Default=10)
#
com.ge.dspmicro.httpclient.connection.maxPerRoute=I"10"

#
# Maximum time in milliseconds for connection timeout (Default=5000)
#
com.ge.dspmicro.httpclient.connection.timeout=I"5000"

#
# Maximum time in seconds for connection idle timeout (Default=60)
#
com.ge.dspmicro.httpclient.connection.idleTimeout=I"60"

#
# Maximum time in milliseconds for blocking socket to timeout (Default=30000)
#
com.ge.dspmicro.httpclient.socket.timeout=I"30000"
